.CardContainer{
  height:320px;
  max-width: 200px;
  box-shadow: 0px 4px 20px rgba(20, 20, 26, 0.818);
  background-color: royalblue;
  border-radius: 10px;
  margin-bottom: 30px;
  border-bottom: 4px solid rgba(12, 12, 14, 0.829); 
  justify-content: center;
  transition: transform 0.3s ease;
  overflow: hidden;

}


.imageContainer{
  display:flex ;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.img{
  box-shadow: 2px 2px 8px rgba(67, 64, 230, 0.876);
  z-index: 1;
}

.CardContainer:hover {
  box-shadow: 0 0 5px rgb(65, 85, 197);
  transform: scale(1.1);
}



a{
  text-decoration: none;
}

.CardTitle{
  text-align:center;
  font-size:14px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color:rgb(240, 240, 240);
  padding: 5px;
}

.topCardContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  box-shadow: 0px 2px 8px rgba(19, 14, 14, 0.876);
  text-align: center;
  padding: 0 10px;
  margin-bottom: 3px;
  

}

.buttonDelete{
  position: relative;
  background-color:rgba(65, 105, 225, 0.37);
  box-shadow: 0px 3px 2px rgba(19, 14, 14, 0.876);
  border-radius: 10px;
  color:rgb(223, 217, 217);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
.buttonDelete:hover{
  background-color:rgb(233, 49, 45);
  color:white;
}

.buttonFav{
  position: relative;
  background-color: transparent;
  color:gainsboro;
  border: none;
}


.titleContainer{
  background-color: antiquewhite;
  overflow-wrap: break-word;
}