.globalContainer{
    /* background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('../../assets/rick-house.jpg'); */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

}
.container{
    position: relative;
    display:flex;
    flex-direction: column;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    margin-top: 15%;
    height: 350px;
    width:300px;
    justify-content: center;
    align-items: center;
    background-color: rgba(54, 29, 87, 0.808);
    padding: 20px;
    box-shadow: 3px 3px 8px rgba(242, 242, 242, 0.3);
    margin-left: 42%;
    border-radius: 10px;
    z-index: 2;
}

.title{
    font-size: 30px;
    margin-bottom: 20px;
    color:rgb(138, 226, 51);
    padding-right: 10px;
    font-weight: bold;
}

