.FavoritesContainer{
    display: flex;
    overflow-x: auto;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 50px;
    margin-top: 154px;
    box-sizing: border-box;
}

.FavoritesFiltersContainer{
    display: flex;
    top: 110px;
    position: sticky;
    overflow-x: auto;
    margin-left: 10%;
    z-index: 150;
}

.FavoritesFiltersButtons{
    margin-left: 10px;
    background-color:rgb(61, 214, 130);
    border-radius: 20px;
    color:black;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    padding: 4px 10px;
    z-index: 100;
}

